.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: 2px solid #222831;
    padding-bottom: 10px;
    align-items: center;
}

.link {
    display: flex;
    width: 100%;
}

.image {
    width: 150px;
    height: 150px;
    padding: 20px;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.secondInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.datetime {
    font-size: 17px;
}

.name {
    font-weight: 600;
}

.deleteButton {
    align-self: flex-end;
    margin-top: 10px;
}

.updateButton {
    align-self: flex-end;
}