.list {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}

.review {
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #222831;
}

.commentWithDate {
    display: flex;
    justify-content: space-between;
}


.reviewsContainer {
    display: flex;
    flex-direction: column;
}

.reviewsHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

.reviewsTitle {
    font-size: 23px;
}

.pagesList {
    margin-top: 10px;
    align-self: center;
}
