.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    min-height: 600px;
}

.inputs {
    display: flex;
    flex-direction: column;
    
}

.input {
    margin-bottom: 20px;
    border: 2px solid #222831;
    padding: 10px;
}

.button {
    width: 35%;
    align-self: flex-end;
    
}

.textarea {
    min-height: 300px;
    margin-bottom: 20px;
    padding: 10px;
    border: 2px solid #222831;
}